<button mat-stroked-button color="accent" *ngIf="isLoggedIn()" href="#" (click)="logout()" class="btn btn-link">Log Out</button>

<form [formGroup]="form" (submit)="process()">
  <table>
    <!-- To add calendar date and time -->
    <tr>
      Date<br>
      <input type="datetime-local" id="date" formControlName="date" placeholder="Input Date Here">
    </tr>
    
    <!-- To input description of travel plan -->
    <tr>
      Description:<br>
      <input type="textarea" id="description" formControlName="description" rows="50" cols="50" placeholder="Please describe the itinerary">
    </tr>
    <!-- dropdown option for japanese cities -->
    <tr>
      City:
      <mat-select id="city" placeholder="City Name" formControlName="city">
        <mat-option *ngFor="let city of svc.japCities" [value]="city" type="text" size="30">{{city}}
        </mat-option>
      </mat-select>
    </tr>

    <!-- drop down options for destination types -->
    <tr>
      Destination Type:
      <mat-select id="destination" placeholder="Destination Type" formControlName="destination">
        <mat-option *ngFor="let destination of svc.destinationType" [value]="destination" type="text" size="70">{{
          destination }}
        </mat-option>
      </mat-select>
    </tr>
    <tr>
      Upload Document:<br>
      <input type="file" formControlName="file" #uploadDoc>
    </tr>
    <tr>
      <button type="submit" [disabled]="form.invalid">Upload</button>
    </tr>
  </table>
</form>

<!-- Snackbar html -->
