<div>
  <navbar [userEmail]="email"></navbar>

  <div class="container">
    <div class="buttonRight">
      <button mat-stroked-button color="accent" [routerLink]="['/main']">
        <mat-icon>assignment</mat-icon>Dashboard
      </button>
    </div>

    <form [formGroup]="form" (ngSubmit)="process()">
      <table>
        <tr>
          <td class="tableHeader">Date</td>
          <td class="tableContent">
            <input class="font formFieldComponent" type="datetime-local" id="date"
              formControlName="date" placeholder="Input Date Here" matNativeControl>
          </td>
        </tr>

        <tr>
          <td class="tableHeader">Description</td>
          <td class="tableContent">
            <textarea matInput #textarea class="font formFieldComponent" id="description" formControlName="description"
              placeholder="Please describe the itinerary, minimum 15 characters" rows="10"></textarea>
              <div class="hintComponent" align="end">{{textarea.value.length}}/1000</div>
          </td>
        </tr>
        <!-- dropdown option for japanese cities -->
        <tr>
          <td class="tableHeader">City</td>
          <td class="tableContent">
            <mat-select class="font formFieldComponent" id="city" placeholder="City Name" formControlName="city">
              <mat-option class="font" *ngFor="let city of svc.japCities" [value]="city" type="text" size="30">{{ city }}
              </mat-option>
            </mat-select>
          </td>
        </tr>

        <!-- drop down options for destination types -->
        <tr>
          <td class="tableHeader">Destination Type</td>
          <td class="tableContent"><mat-select class="font formFieldComponent" id="destination"
              placeholder="Destination Type" formControlName="destination">
              <mat-option class="font" *ngFor="let destination of svc.destinationType" 
                                        [value]="destination" type="text" size="70">
                                    {{ destination }}
              </mat-option>
            </mat-select>
          </td>
        </tr>
        <tr>
          <td class="tableHeader">Upload Document</td>
          <td class="tableContent">
            <input class="font formFieldComponent" type="file" (change)="fileSizeHTMLValidation($event)" formControlName="file" #uploadDoc>
            <div class="hintComponent">Please upload a file (max size: 20MB)</div>
            <div class="warningComponent" *ngIf="fileSizeExceeded">
              File size exceeded 20MB
            </div>
          </td>
        </tr>
      </table>
      <button mat-flat-button color="accent" class="submitButton" type="submit"
        [disabled]="form.invalid">Upload</button>
    </form>
  </div>
</div>